.navbar-brand {
    font-family: $font-primary;
    font-size: 36px;
}

.navbar {
    background: $Background-secondary !important;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .navbar-link {
    color: $font !important;
    font-size: 18px;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: $color-special !important;
}

.navbar-collapse {
    z-index: 1;
}

.nav-link {
    font-family: $font-secondary !important;
}
