.square {
    background: $Background-secondary;
    height: 263px;
    width: 264px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

    &--border {
        background-color: white;
        border: 2px solid $color-special;
    }

    &--coloured {
        background-color: $color-special;
        border: 2px solid white;
    }


}

